<div class="card-columns card-columns-2">
    <div class="card">
        <div class="card-img">
            <img src="https://trello-attachments.s3.amazonaws.com/5d8aee7aa4124f73311be1b8/5e2fdf6d15f31640fb8843dc/9aa954a0182d1b4b4a9fff7b04edc3e3/marvin-meyer-SYTO3xs06fU-unsplash.jpg" alt="study image">
            <h6>Photo by Marvin Meyer on Unsplash</h6>
        </div>
    </div>
    <div class="card card-block">
        <div class="card-header" style="text-align: center;">Education and Training</div>
        <p class="card-text">Formal Education:</p>
        <ul>
            <li>2014-2020 (Expected) - Masters of Software Systems Engineering at UTS</li>
            <li>2016-2017 - Certificate iv in programming at Tafe NSW</li>
            <li>2008-2012 - Bachelors of Engineering (Civil) with Honours at WSU</li>
        </ul>
        <br>
        Training:
        <ul>
            <li>2018 - Agile Methodology – Time and Budget Management Training at Sydney Water</li>
            <li>2018 - Version Control with Git at Atlassian</li>
            <li>2018 - Introduction to Game Development at Michigan State University</li>
            <li>2017 - Advanced Project Management at Rams Education</li>
            <li>2015 - Humanitarian Engineering Certificate in WASH at RedR Australia</li>
        </ul>
        <div class="card-footer">
            <button class="btn btn-sm btn-link" (click)="topPage()">
                <clr-icon shape="angle" size="30"></clr-icon>
            </button>
        </div>
    </div>
   
   
</div>
