<div style="text-align: left">
    <h4 style="text-align: left;">
        About Me.
      </h4>
      <h5 style="text-align: justify;">
        On the path to becoming a full-stack software developer and agile project manager through dedicated self-study and tertiary education.
        Currently studying a Master of Software Systems engineering part-time while working full-time as an engineering project manager. I have developed full-stack web applications using modern technology stacks while undertaking formal study. I also enjoy tinkering with new and interesting technologies.
        For the last 3 years I have been building the skills required to move into software development as well as utilise my skills as a project manager to work effectively in small and large project teams.
        I aspire to lead software development teams in the next 5 years through landing a software developer role in a sector which delivers meaningful services to clients using modern technologies.
      </h5>
      <h4 style="text-align: left;">
        Cover Letter.
      </h4>
      <h5 style="text-align: justify;">
        As an avid life-long-learner I have never stopped studying. During my journey I discovered the field of software development which compelled me to develop skills in this field due to my creative and logical working style. I am attracted to working in a flat structured collaborative team environment as I believe this is the way to optimal team performance through empowerment of all team members. I am enrolled in a Masters of Engineering Major to Software Engineering while working as a fulltime engineering project manager. This is a challenging and testing pursuit which has allowed me to develope great time management skills and practices.
        <br><br>
        I unsuccessfully applied for the Junior Software Developer role in 2018 with UAC. Based on feedback from the interview panel I now apply with many of the identified gaps filled to be a successful contributor to the software development team at UAC. Over the last year I have developed new skills, knowledge, and an appreciation for my dedication to my long term goals. I am well versed in the basic computer science concepts such as complexity and strategy through sorting and searching algorithms. I have also gained experience in both front-end and back-end web development competently using both Angular and React frameworks, NodeJS, ExpressJS, and data storage using both SQL and NoSQL databases. Throughout this time I have also gained an appreciation and competency in using version control workflows in Git and Github as a remote code repository.
        <br><br>
        This journey of learning is what excites me about software development, the rapid development of easy to use tools and frameworks which make it really easy to start developing and continue learning for my whole career. There are endless articles and tutorials on new technologies each day which makes this career path extremely agile and exciting to be involved in. Tools such as Node Package Manager (NPM) make it extremely simple to get up and running with a new library in seconds. The trends that I enjoy in software development are in the web space. This area is very exciting as there are so many collaborations which different packages that can be easily integrated in with each other and new articles on websites such as Medium and Hacknoon allow everyone to adapt to future trends and technologies.
        <br><br>
        An innovative product that I have recently developed was a social media application for sharing images. This is a thread/discussion board type of web application which was developed using Angular on the front end with Bootstrap UI, NodeJS and Express on the back-end with the popular NoSQL database MongoDB. In the project connections with image storage using cloud storage service Firebase to optimise storage design. This project involved all requirements for sign-in authorisation using JSON Web Tokens (JWT).
      </h5>
</div><br>
<button class="btn btn-sm btn-link" style="text-align: center;" (click)="topPage()">
  <clr-icon shape="angle" size="30"></clr-icon>
</button>

