<div class="card-columns card-columns-2">
    <div class="card">
        <div class="card-img">
            <img src="https://trello-attachments.s3.amazonaws.com/5d8aee7aa4124f73311be1b8/5e2fdf6d15f31640fb8843dc/299f98af07f8163bfbfeb5ccbb3b7266/campaign-creators-gMsnXqILjp4-unsplash.jpg" alt="experience image">
            <h6>Photo by Campaign Creators on Unsplash</h6>
        </div>
    </div>
    <div class="card card-block">
        <div class="card-header" style="text-align: center;">Professional Experience</div>
        <h4>2017-present - Sydney Water – Project Manager</h4><br>
        <ul>
            <li>Responsible for the successful management and delivery of infrastructure projects ranging from $1M to $20M in value</li>
            <li>Extensive internal and external stakeholder management</li>
            <li>Diverse and multi-skilled team leadership</li>
            <li>Effective scope management with stakeholders through continuous collaboration and communication</li>
            <li>Funding application development, submission, and presenttion of business cases</li>
        </ul>
        <br>
        <h4>2010-2017 - Sydney Water – Production officer and reliability engineer</h4><br>
        <ul>
            <li>Technical author and reviewer of professional service briefs</li>
            <li>Engineering and technical support to project teams</li>
            <li>Management of site shutdowns and temporary operating modes during critical project work, ensuring environmental licence obligations are met</li>
            <li>Calibration of analytical instrumentation</li>
            <li>Implementation of quality management and assurance for site projects</li>
        </ul>
        
        <div class="card-footer">
            <button class="btn btn-sm btn-link" (click)="topPage()">
                <clr-icon shape="angle" size="30"></clr-icon>
            </button>
        </div>
    </div>
   
   
</div>
