<div class="card-columns card-columns-2">
    <div class="card">
        <div class="card-img">
            <img src="https://trello-attachments.s3.amazonaws.com/5d8aee7aa4124f73311be1b8/5e2fdf6d15f31640fb8843dc/0ef04f5c62f6068cd157ff253019e2ff/steve-halama-L-uGw_mR6qA-unsplash.jpg" alt="interests image">
            <h6>Photo by Steve Halama on Unsplash</h6>
        </div>
    </div>
    <div class="card card-block">
        <div class="card-header" style="text-align: center;">Interests & Hobbies</div>
        <h4>Outdoors</h4><br>
        <ul>
            <li>Ice and Rock Climbing</li>
            <li>Mountaineering</li>
            <li>Camping</li>
        </ul>
        <br>
        <h4>Indoors</h4><br>
        <ul>
            <li>Front-end and Back-end web development using new technology stacks</li>
            <li>Robotics using Arduino for small hobby projects</li>
            <li>Reading</li>
            <li>Writing and Poetry Open Mic Participant</li>
            <li>Percussion drums - Handpan and Udu</li>
        </ul>
        <br>
        <h4>Side-Projects</h4><br>
        <ul>
            <li>Short story author and project lead for 2 aminated short films in progress</li>
            <li>Leader of a conceptual start-up working on a solution to incentivise the use of recycling for green energy generation</li>
            <li>Game Development</li>
        </ul>
        <div class="card-footer">
            <button class="btn btn-sm btn-link" (click)="topPage()">
                <clr-icon shape="angle" size="30"></clr-icon>
            </button>
        </div>
    </div>
   
   
</div>
