<div class="btn-group">
    <div class="radio btn">
        <input type="radio" name="btn-group-demo-radios" id="btn-demo-radio-1" routerLink="aboutme">
        <label for="btn-demo-radio-1">
            <clr-icon shape="scroll"></clr-icon>
        </label>
    </div>
    <div class="radio btn">  
        <input type="radio" name="btn-group-demo-radios" id="btn-demo-radio-2" routerLink="skills">
        <label for="btn-demo-radio-2">
            <clr-icon shape="wrench"></clr-icon>
        </label>
    </div>
    <div class="radio btn">
        <input type="radio" name="btn-group-demo-radios" id="btn-demo-radio-3" routerLink="education">
        <label for="btn-demo-radio-3">
            <clr-icon shape="lightbulb"></clr-icon>
        </label>
    </div>
    <div class="radio btn">
        <input type="radio" name="btn-group-demo-radios" id="btn-demo-radio-4" routerLink="experience">
        <label for="btn-demo-radio-4">
            <clr-icon shape="network-globe"></clr-icon>
        </label>
    </div>
    <div class="radio btn">
        <input type="radio" name="btn-group-demo-radios" id="btn-demo-radio-5" routerLink="interests">
        <label for="btn-demo-radio-5">
            <clr-icon shape="user"></clr-icon>
        </label>
    </div>
</div>
