<div class="card-columns -4">
    <!--Web Dev Experience-->
    <div class="card">
        <div class="card-header" style="text-align: center;">
            Web Development and Programming
        </div>
        <div class="card-media-image" style="text-align: center;">
            <img src="https://trello-attachments.s3.amazonaws.com/5d8aee7aa4124f73311be1b8/5e2fdf69599d2b7f56e9f9e1/b5101c8eb33dcf527b4700af1ddfc2de/clement-h-95YRwf6CNw8-unsplash_reduced.jpg" alt="web dev image">
            <h6>Photo by Clément H on Unsplash</h6>
        </div>  
        <div class="card-block">
            <br>
            <p class="card-text">Modern web frameworks and technology stacks such as;</p>
            <ul>
                <li>Front-end development using Angular and React frameworks,</li>
                <li>Back-end development using NodeJS and Express,</li>
                <li>Data storage and connection using both SQL and NoSQL databases,</li>
                <li>Version control workflows using Git and Github code repositories, </li>
                <li>Desktop applications in C#.net and Java.</li>
            </ul>
            <br>
            In addition to the above experience I am continuously tinkering and trying new frameworks
            and libraries for both front and back-end development. Often I will read an article on Medium.com or
            HackerNoon and try out a project in subjects such as authorisation, UI libraries, data storage, optimised
            performance, etc.
        </div>
        <div class="card-footer">
            <button class="btn btn-sm btn-link" (click)="topPage()">
                <clr-icon shape="angle" size="30"></clr-icon>
            </button>
        </div>
    </div>
    <!--Communication and Project Management-->
    <div class="card">
        <div class="card-header" style="text-align: center;">
            Project Management
        </div>
        <div class="card-media-image" style="text-align: center;">
            <img src="https://trello-attachments.s3.amazonaws.com/5d8aee7aa4124f73311be1b8/5e2fdf6d15f31640fb8843dc/0d5766a87023060f814e0392682bfb67/david-travis-WC6MJ0kRzGw-unsplash_resize.jpg" alt="project management image">
            <h6>Photo by David Travis on Unsplash</h6>
        </div>  
        <div class="card-block">
            <br>
            <p class="card-text">Experience managing projects with diverse teams utilising different skill sets of team members.
                My focus is on maintaining scope, time, and cost targets which has allowed me to deliver projects with substancial
                savings of approximately $2m while meeting client and business expections/outcomes.<br><br>
                Knowledge and training of using Agile project methodologies.<br><br>I enjoy empowering team members to lead
                and take ownership of their areas of responsibility within a project to achieve optimal outcomes for all parties.<br><br>Currently managing a range
                of projects from professional engineering projects delivering civil, mechanical, electrical, and software products
                to personal side projects and creative writing projects.
            </p>
        </div>
        <div class="card-footer">
            <button class="btn btn-sm btn-link" (click)="topPage()">
                <clr-icon shape="angle" size="30"></clr-icon>
            </button>
        </div>
    </div>
        <!--Leadership, Communication &Teamwork-->
        <div class="card">
            <div class="card-header" style="text-align: center;">
                Leadership, Communication, & Teamwork
            </div>
            <div class="card-media-image" style="text-align: center;">
                <img src="https://trello-attachments.s3.amazonaws.com/5d8aee7aa4124f73311be1b8/5e2fdf6d15f31640fb8843dc/f4b7b5c7bb282f3686d2d275548c0604/perry-grone-lbLgFFlADrY-unsplash_resize.jpg" alt="leadership image">
                <h6>Photo by Perry Grone on Unsplash</h6>
            </div>  
            <div class="card-block">
                <br>
                <p class="card-text">I have recently been developing and finding a leaderhip style which aligns with my personality.
                    In the past 3 years I have led and am currently leading teams deliver projects through a style which allows
                    all team members to have a voice. Embracing my natural ability to inspire and
                    maintain progress on projects I plan on continuing this journey into the future.<br><br> Current teams I lead include;
                </p>
                <ul>
                    <li>Delivery of water infrastructure with a diverse team of engineers, community relations, safety personnel, etc,</li>
                    <li>Early stage start up developing a feedback system and application to incentivise households to recycle
                        organic materials and convert it into green energy,
                    </li>
                    <li>
                        Creative writing and graphical stories development team.
                    </li>
                </ul>
            </div>
            <div class="card-footer">
                <button class="btn btn-sm btn-link" (click)="topPage()">
                    <clr-icon shape="angle" size="30"></clr-icon>
                </button>
            </div>
        </div>               
</div>                        